html{
  position: relative;
  height: 100%;
}
body{
  position: relative;
  height: 100%;
  font-size:16px;
  font-family: 'Mulish', sans-serif;
  background-image: radial-gradient(circle at 56% 33%, rgb(55, 19, 88) 1%, rgba(12,0,33,0) 17%), radial-gradient(circle at 79% 59%, rgb(54, 14, 90) 1%, rgba(12,0,33,0) 12%), radial-gradient(circle at 18% 80%, rgb(60, 20, 97) 1%, rgba(12,0,33,0) 12%), radial-gradient(circle at 74% 98%, rgb(77, 36, 115) 1%, rgba(12,0,33,0) 17%), linear-gradient(to top, #2c0054, #0c0021);
  background-attachment: fixed;
}
h1,h2,h3,h4,h5,ul,.form-group{
  margin-bottom:0;
}
h1,h2{
  font-size:24px;
  font-weight: 700;
  line-height:24px;
}
h3,h4{
  font-size:24px;
  font-weight: 700;
  line-height:22px;
}
h5{
  font-size:16px;
  line-height:20px;
}
a{
  @include transition(all .3s);
}
ul{
  padding:0;
  list-style:none;
}
*{
  &:focus,&:hover{
    outline: none !important;
    text-decoration: none !important;
  }
}