@import "../plugins/bootstrap/css/bootstrap.min.css";
@import "../plugins/fontawesome/css/fontawesome-all.min.css";
@import "../plugins/owl/css/owl.theme.default.min.css";
@import "../plugins/owl/css/owl.carousel.min.css";
@import "veriables";
@import "reset";
header{
  height: 60px;
  background:#3C1E6E;
  .logo-section{
    padding-left:15px;
    padding-right: 15px;
    border-right-color: #533488;
    border-right-style: solid;
    border-right-width: 1px;
    a{
      display: block;
      color:#fff;
      svg{
        fill:#fff;
      }
    }
  }
  .nav-section{
    padding-left:15px;
    padding-right: 15px;
    a{
      height: 60px;
      padding-left:3px;
      padding-right: 3px;
      font-size:12px;
      color:#fff;
      font-weight: 700;
      border-bottom: 2px solid transparent;
      svg{
        fill:#fff;
        margin-top:0 !important;
        margin-right:3px;
      }
      &:nth-child(1){
        svg{
          fill: #9258e3;
        }
      }
      &:nth-child(2){
        svg{
          fill: #d58939;
        }
      }
      &:nth-child(3){
        svg{
          fill: #09ffea;
        }
      }
      &:nth-child(4){
        svg{
          fill: #ffef4b;
        }
      }
      &:nth-child(5){
        svg{
          fill: #4bd3ff;
        }
      }
      &:nth-child(6){
        svg{
          fill: #ff4bde;
        }
      }
      &:nth-child(7){
        svg{
          fill: #a399f4;
        }
      }
      &:nth-child(8){
        svg{
          fill: #f27b3e;
        }
      }
      &:nth-child(9){
        svg{
          fill: #5dff4b;
        }
      }
      &:nth-child(10){
        svg{
          fill: #ffea4b;
        }
      }
      &:nth-child(11){
        svg{
          fill: #09ffea;
        }
      }
      &:nth-child(12){
        svg{
          fill: #ffa62a;
        }
      }
      &:hover{
        &:nth-child(1){
          border-color: #9258e3;
        }
        &:nth-child(2){
          border-color: #d58939;
        }
        &:nth-child(3){
          border-color: #09ffea;
        }
        &:nth-child(4){
          border-color: #ffef4b;
        }
        &:nth-child(5){
          border-color: #4bd3ff;
        }
        &:nth-child(6){
          border-color: #ff4bde;
        }
        &:nth-child(7){
          border-color: #a399f4;
        }
        &:nth-child(8){
          border-color: #f27b3e;
        }
        &:nth-child(9){
          border-color: #5dff4b;
        }
        &:nth-child(10){
          border-color: #ffea4b;
        }
        &:nth-child(11){
          border-color: #09ffea;
        }
        &:nth-child(12){
          border-color: #ffa62a;
        }
      }
    }
  }
  .search-section{
    padding-left:15px;
    padding-right: 15px;
    form{
      .form-group{
        position: relative;
        button{
          position: absolute;
          right:0;
          top:0;
          padding: 0;
          width: 40px;
          height: 40px;
          line-height: 40px;
          background: transparent;
          color:#fff;
          border:none;
          &:focus,&:hover{
            outline: none;
          }
        }
        .wg-input{
          background: #2A1253;
          color:#decaff;
          &::-webkit-input-placeholder {
            color:    #decaff;
          }
          &:-moz-placeholder {
            color:    #decaff;
            opacity:  1;
          }
          &::-moz-placeholder {
            color:    #decaff;
            opacity:  1;
          }
          &:-ms-input-placeholder {
            color:    #decaff;
          }
          &::-ms-input-placeholder {
            color:    #decaff;
          }
          &::placeholder {
            color:    #decaff;
          }
        }
      }
    }
  }
}
.caption{
  font-weight: 700;
  font-size:15px;
  color:#fff;
  line-height: 12px;
  &.category-caption{
    font-size:18px;
  }
}
.games-section-1{
  .game-xl{
    width: calc(25% - 4px);
    margin-left:2px;
    margin-right: 2px;
  }
  .game{
    display: block;
    position: relative;
    overflow: hidden;
    border:2px solid transparent;
    margin-top: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
    @include border(8px);
    .img-section{
      img{
        width: 100%;
        @include border(8px);
      }
    }
    .desc-section{
      opacity: 0;
      position: absolute;
      bottom:0;
      left: 0;
      height: auto;
      width: 100%;
      padding: 8px;
      color:#fff;
      font-size:12px;
      font-weight: 700;
    }
    &:hover{
      border-color:#9258e3;
      .desc-section{
        opacity: 1;
      }
      &:before{
        content:"";
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height:100%;
        background: linear-gradient(to top,#000000e0 0%,rgba(0, 0, 0, 0) 50%);
        @include border(8px);
      }
    }
  }
  .game-type-1{
    width: calc(50% - 4px);
  }
  .game-type-2{
  }
}
.tag-section{
  .tag{
    height: 50px;
    background-color: #6937B9;
    margin-left:5px;
    margin-right: 5px;
    overflow:hidden;
    color:#fff;
    @include border(8px);
    .img-section{
      width: 50%;
      img{
        width: 100%;
      }
    }
    .desc-section{
      padding-left:5px;
      padding-right: 5px;
      font-size:11px;
      width: 50%;
      margin-block-end: 0;
      margin-block-start: 0;
    }

    &:first-child{
      margin-left:0;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
.wg-input{
  width: 100%;
  height: 40px;
  font-size:12px;
  font-weight: 100;
  padding-left:15px;
  padding-right: 15px;
  border:none;
  @include border(8px);
}
.show-more{
  line-height: 12px;
  color:#09ffea;
  font-size:11px;
}
.caption-box{
  background: #3c1d6e;
  color: #ddd;
  display: table;
  margin-bottom: -10px;
  padding: 20px 40px;
  @include border(8px);
}
.text-box{
  width: 100%;
  background: #3C1E6E;
  color:#decaff;
  padding: 30px 60px 15px;
  font-size: 14px;
  letter-spacing: 0.3px;
  border-bottom:9px solid #6937B9;
  @include border(8px);
}
footer{
  padding:15px 15px;
  a{
    color: #a8a8a8;
    margin-left:5px;
    margin-right: 5px;
  }
}
.desc-tab{
  .nav-tabs{
    border:none;
    .nav-link{
      color:#fff;
      border:none;
      font-size:13px;
      font-weight: 700;
      padding: 20px 45px;
      &.active{
        background-color:#3C1E6E;
      }
    }
  }
  .tab-content{
    background-color:#3C1E6E;
    .tab-pane{

      padding:25px;
      color:#decaff;
      font-size:14px;
      h1,h2,h3,h4,h5{color:#fff;}
      a{
        color:#09ffea;
      }
      .tag-section .tag{
        height: 40px;
      }
      .category-tree{
        margin-left:44px;
        a{
          font-size:12px;
          color:#ddd;
        }
        i{
          margin-left:2px;
          margin-right:2px;
          font-size:10px;
        }
      }
      .hit{
        div{
          &:first-child{
            color: #decaff;
            font-size: 11.2px;
            font-weight: 700;
          }
          &:last-child{
            color: #decaff;
            font-size: 0.7em;
            line-height: 1;
            text-transform: uppercase;
            font-weight: lighter;
          }
        }
      }

      .rating{
        width: 35px;
        height: 35px;
        line-height: 23px;
        text-align: center;
        color: #3C1E6E;
        padding: 6px 8px;
        align-self: center;
        font-weight: 900;
        background: #fff;
        @include border(55%);
      }
    }
  }
  h1{
    font-weight: 700;
    font-size:24px;
  }
}
.game-play{
  overflow: hidden;
  @include border(8px);
  span{
    display: block;
    padding: 7px;
    text-align: center;
    font-size: 12px;
    background-color: #6937B9;
    color: #f7f2ff;
    font-weight: 700;
  }
  &:hover{
    span{
      background-color: #582c9e;
    }
  }
}
@media (max-width: 1200px) {
  header{
    .logo-section{
      svg{
        width: 60px;
      }
    }
    .nav-section{
      a{
        font-size:11px;
        svg{
          width: 15px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  header{
    .logo-section{
      svg{
        width: 60px;
      }
    }
    .nav-section{
      padding: 0;
      position: absolute;
      left: -100%;
      top:60px;
      height: calc(100% - 60px);
      width: 100%;
      background: #533388;
      z-index: 1020;
      overflow-y: auto;
      a{
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-bottom: 1px solid #634790;
        padding: 5px 15px;
        svg{
          width: 20px;
        }
      }
      &.active{
        left: 0;
      }
    }
    .search-section{
      top:-100%;
      z-index: 1021;
      position: absolute;
      left:0;
      width: 100% !important;
      background: #533388;
      padding: 15px;
      border-bottom: 1px solid #634790;
      &.active{
        top:60px;
      }
    }
    .mobile-nav-section{
      line-height: 60px;
      padding-right:15px;
      a{
        color:#fff;
        &:last-child{
          margin-left:15px;
        }
      }
    }
  }
  .games-section-1{
    .game-xl{
      width: 100%;
    }
  }
  .tag-section{
    .tag{
      height: 40px;
      width: calc(50% - 10px);
      margin-bottom: 5px;
      &:first-child{
        margin-left:5px;
      }
      &:last-child{
        margin-right:5px;
      }
    }
  }
  .desc-tab{
    .nav-tabs{
      .nav-item{
        width: 100%;
        .nav-link{
          padding: 15px;
          text-align: center;
        }
      }
    }
    .tab-content{
      .tab-pane{
        padding: 10px;
      }
    }
  }
}